@font-face {
	font-family: "iconfont";
	src: url('iconfont.eot'); /* IE9*/
	src: url('iconfont.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'),
		/* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}

.icon-delete:before {
	content: "\e620";
}

.icon-shuaxin:before {
	content: "\f017d";
}

.icon-hicjsquarecommonsetbtn:before {
	content: "\e694";
}

.icon-set:before {
	content: "\e60c";
}

.icon-set1:before {
	content: "\e63d";
}

.icon-iconset:before {
	content: "\e805";
}

.icon-iconset1:before {
	content: "\e626";
}

.icon-set2:before {
	content: "\e61f";
}

.icon-set3:before {
	content: "\e603";
}

.icon-iconfontset:before {
	content: "\e604";
}

.icon-70shezhi:before {
	content: "\e6d5";
}

.icon-iconfont21:before {
	content: "\e745";
}

.icon-profilesidebari1:before {
	content: "\e634";
}

.icon-set4:before {
	content: "\e613";
}

.icon-set5:before {
	content: "\e635";
}